body {
    background-image: url(../img/pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#pizzaform {
    color: #666666;
    text-shadow: #333333;
}

#output {
    display: none;
}