body {
    background-image: url(../img/pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#output {
    display: none;
}

#show-pizza {
    display: none;
}

